// Color and Font Variables

// Fonts:
$thin: Inter-Thin;
$extra-light: Inter-ExtraLight;
$light: Inter-Light;
$regular: Inter-Regular;
$medium: Inter-Regular;
$semi-bold: Inter-SemiBold;
$bold: Inter-Bold;
$extra-bold: Inter-ExtraBold;
$black: Inter-Black;

//Main color:
$main-col: #00ff2a;

//Shades:
$main-shade-one: #00E827;
$main-shade-two: #00F529;
$main-shade-three: #00CF22;
$main-shade-four: #006911;
$main-shade-five: #007514;
$main-shade-six: #004F0D;

//Whites:
$white-one: #ffffff;
$white-two: #fafafa;
$white-three: #EDEDED;
$white-four: #E0E0E0;

//Blacks:
$black-one: #000000;
$black-two: #131313;
$black-three: #2b2b2b;